
<div id="phrase_form" align="center">
  <input id="phrase_input" />
  <input id="say" type="submit" value="Say" />
  <input id="save" type="submit" value="Save" />
  <br />
  <br />
  <div id="phrase_queue">
    <% @phrases_without_category.each do |phrase| %>
      <%= render partial: "phrase", locals: { phrase: phrase } %>
      <br />
    <% end %>
  </div>
</div>

<br />
<br />
<br />

<div class="row">
  <div id="category_column_left" class="column">
    <%= render partial: "category_list", locals: { categories: @categories.to_a.values_at(
      *((0...@categories.size).to_a.select { |i| i % 2 == 0 })
    ) } %>
  </div>
  <div id="category_column_right" class="column">
    <%= render partial: "category_list", locals: { categories: @categories.to_a.values_at(
      *((0...@categories.size).to_a.select { |i| i % 2 == 1 })
    ) } %>
  </div>
</div>

<br />
<div align="center">
  <input id="new_category_input" />
  <input id="new_category_button" type="submit" value="New Category" />
</div>
